<div data-role="view" data-title="Locations List" data-layout="main" data-model="app.locationService.viewModel">
    <ul data-role="listview" data-template="locationTemplate" data-bind="source: locationDataSource"></ul>
</div>
<!-- this is the template used by the listview. template items are automatically
     wrapped in an <li> by Kendo UI Mobile -->
<script type="text/x-kendo-template" id="locationTemplate">
    <a id="locationList" href='views/SummaryList.html?locationId=#:LocationId#' data-role="listview-link">          
        <table style="width:100%">
            <tr class="location-list-title">
                <td>${Name}</td>
                <td>
                    <div #if (IsKeyAccount==true) {# class="location-list-image location-list-keyImage" #} #>&nbsp;</div>
                </td>
            </tr>
            <tr>
                <td class="location-list-item-label">${Street},${Street2},${City},${Zip}</td>
            </tr>
        </table>
    </a>
</script>