<div data-role="view" data-title="Summary List" data-layout="main" data-model="app.summaryListService.viewModel" data-show="app.summaryListService.show">
    <ul data-role="listview" data-template="summaryTemplate" data-bind="source: summaryListDataSource"></ul>    
</div>
<div data-role="layout" data-id="main">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" data-rel="drawer" href="#right-drawer" data-align="right" class="right-drawer-view"></a>
        </div>
    </div>
    <!-- application views will be rendered here -->
</div>
<!-- application drawer and contents -->
<div data-role="drawer" id="right-drawer" style="width: 100px" data-title="Navigation" data-position="right">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </div>
    <ul data-role="listview">
        <li>Scan</li>
        <li>Debug</li>
        <li>Switch Language</li>
        <!--<a href="views/switchLanguage.html">Switch Language</a>-->
        <li>Switch to Test Server</li>
    </ul>
</div>
<script type="text/x-kendo-template" id="summaryTemplate">
    <div id="listtemp" class="container">
    <a id="locationList" href='views/SummaryDetail.html?assetId=#:AssetId#' data-role="listview-link">
	<table style="width:100%">
	<tr>
	<td rowspan="4">
	<div class="cooler-list-item-device-status-base cooler-list-quesMarkImage">&nbsp;</div>		
	<div class="cooler-list-image-container cooler-list-image">&nbsp;</div>
	</td>
	</tr>
	 <tr>
	<td><div #if (Temperature < 35.6) {# class="cooler-list-image-small cooler-list-lowtemperature"#}else if(Temperature > 39.2){# class="cooler-list-image-small cooler-list-hightemperature"#}else{# class="cooler-list-image-small cooler-list-inrangetemperature"#}#></td>
	<td><div #if (LightIntensity > 5) {# class="cooler-list-image-small cooler-list-lowlight"#}else if(LightIntensity > 15){# class="cooler-list-image-small cooler-list-brightlight"#}else{# class="cooler-list-image-small cooler-list-darklight"#}#></td>
	<td><div #if(LatestProcessedImageId!=0){#<div #if ((((Stock - ForeignProduct) * 100) / Stock) > 25 && (((Stock - ForeignProduct) * 100) / Stock) <= 50) {# class="cooler-list-image-small cooler-list-humidity50"#}else if((((Stock - ForeignProduct) * 100) / Stock) > 50 && (((Stock - ForeignProduct) * 100) / Stock) <= 75){# class="cooler-list-image-small cooler-list-humidity75"#}else if((((Stock - ForeignProduct) * 100) / Stock) > 75){# class="cooler-list-image-small cooler-list-humidity100"#}else{# class="cooler-list-image-small cooler-list-humidity25"#}#></div>#}#</div></td>
	<td><div #if(LatestProcessedImageId!=0){#<div #if ((((Stock - ForeignProduct) * 100) / (Columns*Shelves)) <= 25) {# class="cooler-list-image-small cooler-list-stock25"#}else if((((Stock - ForeignProduct) * 100) / (Columns*Shelves)) > 25 && (((Stock - ForeignProduct) * 100) / (Columns*Shelves)) <= 50){# class="cooler-list-image-small cooler-list-stock50"#}else if((((Stock - ForeignProduct) * 100) / (Columns*Shelves)) > 50 && (((Stock - ForeignProduct) * 100) / (Columns*Shelves)) <= 75){# class="cooler-list-image-small cooler-list-stock75"#}else{# class="cooler-list-image-small cooler-list-stock100"#}#></div>#}#</div></td>
	</tr>
	<tr>
	<td><div class="cooler-list-label">${Temperature}</div></td>
	<td><div class="cooler-list-label">${app.summaryListService.getLightIntensity(LightIntensity)}</div></td>
	<td><div #if(LatestProcessedImageId!=0){#<div class="cooler-list-label">${app.summaryListService.getPurityPerc(Stock, ForeignProduct)}</div>#}#</div></td>
	<td><div #if(LatestProcessedImageId!=0){#<div #if (Stock >= (((Columns*Shelves) * 60) / 100)) {# class="cooler-list-labelblack" #}else{# class="cooler-list-label"#} #>${app.summaryListService.getStockPerc(Columns, Shelves, Stock, ForeignProduct)}</div>#}#</div></td>
	</tr>
	<tr>
	<td><div class="cooler-list-label">${app.summaryListService.getTemperatureText(Temperature)}</div></td>
	<td><div class="cooler-list-label">${app.summaryListService.getLightIntensityText(LightIntensity)}</div></td>
	<td><div #if(LatestProcessedImageId!=0){#<div class="cooler-list-label">${app.summaryListService.getPurityPercText(ForeignProduct)}</div>#}#</div></td>
	<td><div #if(LatestProcessedImageId!=0){#<div #if (Stock >= (((Columns*Shelves) * 60) / 100)) {# class="cooler-list-labelblack" #}else{# class="cooler-list-label"#} #>${app.summaryListService.getStockPercText(Columns, Shelves, Stock)}</div>#}#</div></td>
	</tr>
	</table>	
    </a>
    </div>

</script>